#catalogo{
    margin-top: 110px;
    margin-left: 35%;
    background-color: rgba(29, 170, 212, 0.877);
    height: 150px;
    width: 500px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s ease;
    font-size: 24px;
    margin-bottom: 50px;
    
}
#catalogo:hover{
   
    background-color: rgba(107, 208, 239, 0.877);
    transform: scale(1.1);
}
#placas{

    text-align: center;
    transition: 0.2s ease;
    margin-bottom: 50px;
    height: 50px;
    background-color: rgba(107, 208, 239, 0.877);
}
#placas:hover{
  
    transform: scale(1.2);
}  
.ofertas{
    margin-bottom: -200px;
    height: 200px;
   
    margin-left: 20%;
    margin-right: 10%;
    transition: 0.4s ease;
}

#imagen{
margin-left: 36%;
height: 220px;

}

#imagen1{
    
    height:220px;
}
#imagene{
    margin-left: 72%;
    height:220px;
    }
    .oferton {
        font-size: 20px;
        color: black;
        font-weight: bold;
        margin-top: 10px;
        margin-right: 200px;
        margin-left: 50px;
        
    }
    .oferton2 {
        font-size: 20px;
        color: black;
        font-weight: bold;
        margin-top: 10px;
        margin-right: 200px;
        margin-left: 530px;
        
    }
    .oferton3{
        font-size: 20px;
        color: black;
        font-weight: bold;
        margin-top: 10px;
        margin-right: 200px;
        margin-left: 1020px;
        
    }
    .ofertas img {
        transition: transform 0.3s ease;
    }
    
    .ofertas img:hover {
        transform: scale(1.2);
    }
    