#ofertasespeciales{
    margin-top: 110px;
    margin-left: 35%;
    background-color: rgba(29, 170, 212, 0.877);
    height: 100px;
    width: 500px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s ease;
    font-size: 24px;
    
}
#ofertasespeciales:hover{
   
    background-color: rgba(107, 208, 239, 0.877);
    transform: scale(1.1);
}

.estore{
    margin-left: 200px;
    height: 200px;
    margin-bottom: -150px;
    transition: 0.2s ease;
}

.estore:hover{
    transform: scale(1.1);
}
#texto{
    border: 5px solid blue;
    margin-left: 700px;
    margin-top: -20px;
    margin-bottom: 100px;
    align-content: center;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    height: 150px;
    width: 350px;
    background-color: rgba(29, 170, 212, 0.877);
    transition: 0.2s ease;
}
#texto:hover{
   transform: scale(1.1);
}
#soporte{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 900px;
    margin-bottom: -200px;
    transition: 0.2s ease;
}
#soporte:hover{
    transform: scale(1.1);

}
#texto2{
    border-radius: 15px;
    border: 5px solid blue;
    margin-left: 1200px;
    margin-top: 20px;
    margin-bottom: 100px;
    align-content: center;
    font-weight: bold;
    text-align: center;
    height: 150px;
    width: 350px;
    background-color: rgba(29, 170, 212, 0.877);
    transition: 0.2s ease;
}
#texto2:hover{
    transform: scale(1.1);
 }